---
import BaseLayout from '../layouts/BaseLayout.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Form from '../components/Form.astro';
import DocumentList from '../components/DocumentList.astro';
---

<BaseLayout title="Home">
  <div slot="header">
    <Header />
  </div>
  <Form />
  <DocumentList />
  <div slot="footer">
    <Footer />
  </div>
</BaseLayout>