<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document Form</title>
<link rel="stylesheet" href="/styles/style.css">

</head>
<body>
    <form id="documentForm">
        <label for="documentType">Select Document Type:</label>
        <select id="documentType" name="documentType" required>
            <option value="">--Select Document Type--</option>
            <option value="aadhaar">Aadhaar</option>
            <option value="drivinglicense">Driving License</option>
            <option value="pan">PAN Card</option>
        </select>
        <div id="documentFields" style="display: none;"></div>
        <button type="submit">Submit</button>
        <button type="button" id="resetButton">Reset</button>
    </form>
    <div class="container"></div>
    <script src="../scripts/app.js"></script>
	
</body>
</html>
