<section>
    <h2>Saved Document Details</h2>
    <div class="container">
      <div class="item header">
        <div>Document</div>
        <div>Info</div>
        <div>DOB</div>
        <div>Action</div>
      </div>
    </div>
  </section>